---
import Layout from "../assets/ui/layouts/Layout.astro";
import Line from "../assets/ui/atoms/Line.astro";
import Propiedad from "../assets/ui/prouns/Propiedad.astro";
import propiedades from "../assets/prop_data/propiedades.json"
const propiedadesDepamarData = propiedades;
---

<Layout title="Depamar Propiedades">

	<h1>Depamar Propiedades</h1>
	<h5>Arriendo y Venta de Propiedades.</h5>

	<Line/>

	{propiedadesDepamarData.map((prop) => 
		<Propiedad
			idprop={prop.idprop}
			transaccion={prop.transaccion}
			precio={prop.precio}
			hab={prop.hab}
			ban={prop.ban}
			description={prop.description}
		/>
	)}

{/* utilizar solo comentarios js, se omitiran en el DOM */}

</Layout>
