---
import Layout from "@layouts/MainLayout.astro";
import Line from "@components/atoms/Line.astro";
import Propiedad from "@components/prouns/Propiedad.astro";

import propiedades from "@assets/prop_data/propiedades.json"
const propiedadesDepamarData = propiedades;
---

<Layout title="Depamar Propiedades">

	<h1>Depamar Propiedades</h1>
	<p>Arriendo y Venta de Propiedades.</p>
	<a href="/contacto">contacto</a>

	<Line/>

	{propiedadesDepamarData.map((prop) => 
		<Propiedad
			idprop={prop.idprop}
			transaccion={prop.transaccion}
			precio={prop.precio}
			hab={prop.hab}
			ban={prop.ban}
			description={prop.description}
		/>
	)}

{/* utilizar solo comentarios js, se omitiran en el DOM */}

</Layout>
