---
import Line from "@components/atoms/Line.astro";

interface Props {
	idprop: string;
	transaccion: string;
	precio: number;
    hab: number;
    ban: number;
    description: string;
}

const { idprop = 'no-id', transaccion = '', precio = 0, hab = 0, ban = 0, description = 'Propiedad no encontrada.' } = Astro.props;
---

<article class="depa-prop">
    <h3>Propiedad en {transaccion}</h3>
    <h3>${precio}</h3>
    <h4>{hab} Habitaciones y {ban} Baños.</h4>
    <p>- {idprop} -</p>
    <p>{description}</p>
</article>

<Line/>

<style>

</style>
